@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  width: 10px;
  margin-right: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #1A1B1E;
}

::-webkit-scrollbar-thumb {
  background-color: #2B2D31;
  /* 2B2D31 */
  border-radius: 4px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
